@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light: rgb(235, 67, 101);
  --dark: rgb(10, 255, 157);
}

html,
body {
  scroll-behavior: smooth !important;
  overflow-x: hidden !important;
}

@layer base {
  body {
    @apply bg-[#ecf0f3] dark:bg-[#111111] text-[#1f2937] tracking-wide;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-4xl md:text-5xl;
  }

  h2 {
    @apply text-4xl sm:text-3xl;
  }

  li {
    @apply cursor-pointer;
  }
}
